/* #appContainer{
    padding: 100px;
} */
#covid_img{
    width: 350px;
    height: 210px;
    margin-bottom: 20px;
    border-radius: 50px;
}
.sectionOne{
    background-color: rgb(3, 11, 51);
    border-radius: 55% 44% 50% 49% / 0% 0% 33% 50%  ;
    color: white;
    padding: 20px;
   margin: 0px 0px 10px 0px;

}
.sectionTwo{
    /* background-color: rgb(3, 11, 51); */
    /* border-radius: 55% 44% 50% 49% / 0% 0% 33% 50%  ; */
    color: black;
   margin: 0px 0px 10px 0px;

}
.cardstyle{
    width: 30rem;
    height: 18rem;
    margin-bottom: 10px;
}
.hospital{
    width: 10rem;
    margin-top: 10px;
}
.getStartBtn{
    background-color:#2bd69a;
    width: 200px;
    height: 50px;
    border-radius: 48% 100% 95% 46% / 96% 100% 77% 91%    ;
    color: white;
}
.getStartLink{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
