/* .appContainer{
    background-color: rgb(3, 11, 51);  
} */
.avatar{
    width:8rem;
    height: 8rem;
}
.navTabsBtnSignup{
    background-color: rgb(3, 11, 51);
    font-weight: bolder;
    color: #ffffff;
    width: 12rem;
    height: 3rem;
}

.MuiTab-wrapper {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: 800;
    color: black;
}
.loginForm{
    align-self: "center";
}
/* .homeDoctorRegis{
    margin-top: 3rem;
} */
/* .homeBackground{
    background: url('../../Images/bgO.jpg') no-repeat right;
    background-size: 18rem 30rem;
} */

#covid_img_Home{
    width: 40rem;
    height: 30rem;
    margin-bottom: 20px;
    border-radius: 10px;
    /* transform: rotate(20deg); */
}
#covid_img{
    width: 80px;
    height: 140px;
    margin-bottom: 20px;
    border-radius: 10px;
    transform: rotate(-20deg);
}
#covid_imgOne{
    width: 80px;
    height: 140px;
    margin-bottom: 20px;
    border-radius: 10px;
    transform: rotate(20deg);
}

.sectionOne{
    background-color: rgb(3, 11, 51);
    border-radius: 55% 44% 50% 49% / 0% 0% 33% 50%  ;
    color: white;
    padding: 20px;
   margin: 0px 0px 10px 0px;

}
.sectionTwo{
    /* background-color: rgb(3, 11, 51); */
    /* border-radius: 55% 44% 50% 49% / 0% 0% 33% 50%  ; */
    color: black;
   margin: 0px 0px 10px 0px;

}
.cardstyle{
    width: 30rem;
    height: 18rem;
    margin-bottom: 10px;
}
.hospital{
    width: 10rem;
    margin-top: 10px;
}
.getStartBtn{
    background-color:#2bd69a;
    width: 200px;
    height: 50px;
    border-radius: 48% 100% 95% 46% / 96% 100% 77% 91%    ;
    color: white;
}
.getStartLink{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}






.navTabsContainer{
    background-color: rgb(3, 11, 51);
    font-weight: bolder;
}
.navTabsLink{
    color:white;
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
}
.navpatientTabsLink{
    color:white;
    font-weight: bolder;
    text-align: center;
    /* font-size: 2rem; */
}
.inputsStyle{
    border: 2px solid #111130;
}
.inputslabelStyle{
    font-weight: bolder;
    color: black;
}
.navTabsBtn{
    background-color: rgb(3, 11, 51);
    font-weight: bolder;
    color: white;
}
.navTabsBtnlogin{
    background-color: rgb(3, 11, 51);
    font-weight: bolder;
    color: white;
    width: 10rem;
}
.alldaysmargin{
    margin-top: 4rem;
}
.patientfolderimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.covidText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.homebtmContainer{
    display: flex;
    flex-direction: row;
}
.navTabsBtnHome{
    background-color: rgb(3, 11, 51);
    font-weight: bolder;
    color: white;
    width: 15rem;
    height: 5rem;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    align-content: center;
    
}

.loadinganim{
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 40%;
    right: 50%;
}
.doctorNoteInput{
    height: 200px;
}
.doctorActionButton{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.navTabsBtneditdoctor{
    background-color: rgb(3, 11, 51);
    font-weight: bolder;
    color: white;
    width: 15rem;
    
}
.fileuploadinput{
    border: 2px solid #111130;
    margin-top: 5px;
    height: 2em;
    align-content: center;
    margin: 5px;
    background-color: #e3e3e3;
}
.inputSelectStyle{
    width: 20rem;
}
